<h1>Listing messages</h1>

<table>
  <tr>
    <th>Header</th>
    <th>Body</th>
    <th>Posted at</th>
    <th>Posted by</th>
    <th>Topic</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.header %></td>
    <td><%= message.body %></td>
    <td><%= message.posted_at %></td>
    <td><%= message.posted_by %></td>
    <td><%= message.topic %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
