<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @forum.name %>
</p>

<p>
  <b>Url:</b>
  <%= @forum.url %>
</p>

<p>
  <b>Last updated:</b>
  <%= @forum.last_updated %>
</p>

<p>
  <b>Site:</b>
  <%= @forum.site %>
</p>


<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>
