<p id="notice"><%= notice %></p>

<p>
  <b>Forum:</b>
  <%= link_to @topic.forum.name, @topic.forum %>
</p>

<p>
  <b>Name:</b>
  <%= @topic.name %>
</p>

<% unless @topic.messages.size == 0 %>
  <h3>Messages<h3>
  <table>
    <% @topic.messages.each do |message| %>
      <tr>
        <td>Posted By: <%= message.posted_by %></li>
        <td>Posted At: <%= message.posted_at %><li>
      </tr>
      <tr>
        <td><%= message.text %></td>
      </tr>
      </div>
    <% end %>
<% end %>
