<p id="notice"><%= notice %></p>

<p>
  <b>Forum:</b>
  <%= link_to @topic.forum.name, @topic.forum %>
</p>

<p>
  <b>Name:</b>
  <%= @topic.name %>
</p>

<% unless @topic.messages.size == 0 %>
  <h3>Messages<h3>
    <% @topic.messages.each do |message| %>
      <div>
        <ul>
          <li>Posted By: <%= message.posted_by %></li>
          <li>Posted At: <%= message.posted_at %><li>
          <li><%= message.text %><li>
        <ul>
      </div>
    <% end %>
<% end %>
