<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>Url:</b>
  <%= @site.url %>
</p>

<p>
  <b>Last updated:</b>
  <%= @site.last_updated %>
</p>

<% unless @site.username.nil? || @site.password.nil? %>
  <p>
    <b>Username:</b>
    <%= @site.username %>
  </p>

  <p>
    <b>Password:</b>
    <%= @site.password %>
  </p>
<% end %>

<%= link_to 'Fetch Forums', fetch_forums_site_path(@site) %>
<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>

<div id="forum_list">
  <%= render :partial => 'paginator' %>
</div>
